{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
	{{!-- <header class="header">
		<button class="button">
			<img width="24px" height="24px" src="/svg/arrow-back.svg">
		</button>
		<button class="header">
			<img width="24px" height="24px" src="/img/profile.png">
		</button>
	</header>
	<h1 class="title">Коммьюніті</h1>
	<div class="stick__list">
		<button class="stick">База знань <div class="divider"></div>
		</button>
		<button class="stick stick__active">Інформація
			<div class="divider"></div>

		</button>
	</div>
	<main class="desc">
		<img width="350px" src="/img/telegram.png" alt="">
		<h2>Що таке база знань?</h2>
		<p class="desc__text">База знань - це база даних, що містить правила виведення та інформацію про людське
			досвід і знання в деякій
			предметної галузі. У системах, що самонавчаються, база знань також містить інформацію, що є результатом
			розв'язання попередніх завдань. </p>
		<button class="button button__tg-link">Перейти до ком'юніті у Телеграм</button>
	</main> --}}

</div>